### MANAGED BY ANSIBLE ###
# This file is managed by Ansible. Any changes made directly to this file will be lost.
# Please make any changes to the appropriate Ansible variables.

jupyter-exe={{ workbench_jupyter_jupyter_exe }}
notebooks-enabled={{ workbench_jupyter_notebooks_enabled}}
labs-enabled={{ workbench_jupyter_labs_enabled }}
session-cull-minutes={{ workbench_session_cull_minutes }}
