### MANAGED BY ANSIBLE ###
# This file is managed by Ansible. Any changes made directly to this file will be lost.
# Please make any changes to the appropriate Ansible variables.

server-user={{ workbench_launcher_server_server_user }}
enable-debug-logging={{ workbench_launcher_server_enable_debug_logging }}
scratch-path={{ workbench_launcher_scratch_path }}/Local
logging-dir={{ workbench_launcher_logging_dir }}
job-expiry-hours={{ workbench_launcher_local_job_expiry_hours }}
save-unspecified-output={{ workbench_launcher_local_save_unspecified_output }}
unprivileged={{ workbench_launcher_local_unprivileged }}
