{
  "python_path": "/opt/python/latest",
  "python_type": "conda",
  "save_workspace": "never",
  "load_workspace": false,
  "strip_trailing_whitespace": true,
  "warn_variable_defined_but_not_used": true,
  "check_arguments_to_r_function_calls": true,
  "show_hidden_files": true,
  "save_files_before_build": true,
  "show_indent_guides": true,
  "auto_detect_indentation": true,
  "auto_append_newline": true,
  "syntax_color_console": true,
  "check_for_updates": false,
  "show_doc_outline_rmd": true,
  "rmd_viewer_type": "pane",
  "show_rmd_render_command": true,
  "reuse_sessions_for_project_links": true,
  "remove_history_duplicates": true,
  "default_encoding": "UTF-8",
  "show_help_tooltip_on_idle": true,
  "tab_multiline_completion": true,
  "rainbow_parentheses": true,
  "server_editor_font_enabled": true,
  "server_editor_font": "JetBrainsMono"
}
