[Authorization]
DefaultUserRole = {{ connect_authorization_default_user_role }}
UserGroups = {{ connect_authorization_user_groups | lower }}
ViewersCanRequestPrivileges = {{ connect_authorization_viewers_can_request_privileges | lower }}
PublishersCanOwnGroups = {{ connect_authorization_publishers_can_own_groups | lower }}
PublishersCanAddUsers = {{ connect_authorization_publishers_can_add_users | lower }}
PublishersCanManageVanities = {{ connect_authorization_publishers_can_manage_vanities | lower }}
PublishersCanManageRunAs = {{ connect_authorization_publishers_can_manage_run_as | lower }}
ViewersCanOnlySeeThemselves = {{ connect_authorization_viewers_can_only_see_themselves | lower }}
UserInfoEditableBy = {{ connect_authorization_user_info_editable_by }}
