{% if workbench_server_oidc_client_id is defined %}
client-id={{ workbench_server_oidc_client_id }}
{% endif %}
{% if workbench_server_oidc_client_secret is defined %}
client-secret={{ workbench_server_oidc_client_secret }}
{% endif %}
