### MANAGED BY ANSIBLE ###
# This file is managed by Ansible. Any changes made directly to this file will be lost.
# Please make any changes to the appropriate Ansible variables.

enabled={{ workbench_vscode_enabled }}
exe={{ workbench_vscode_exe }}
args={{ workbench_vscode_args }}
